WTForms~=3.2.1
Flask~=3.1.0
Flask-Login~=0.6.3
loguru~=0.7.2
SQLAlchemy~=2.0.36
Werkzeug~=3.1.3
flask-wtf
aiosmtplib~=3.0.2
email-validator
sqlalchemy-serializer
markdown2[all]
authlib
Flask-Session[cachelib]