body {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #f1f1ff;
    padding-top: 70px;
}

.my-is-valid {
    background: rgb(154, 199, 137);
}

.my-is-invalid {
    background: rgb(203, 135, 135);
}