button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
}

.btn-answer {
  width: 150px;
}

.btn-blue{
    background: rgb(133, 171, 210);
    color: white;
}

.btn-blue:hover {
    background: rgb(67, 120, 175);
    color: white;
}

.bg-violet{
  background: rgb(165, 153, 215);
    color: white;
}

.btn-violet:hover {
    background: rgb(92, 71, 189);
    color: white;
}
.btn-violet{
    background: rgb(145, 131, 211);
    color: white;
}

.btn-green {
  background: rgb(125, 171, 108);
    color: white;
}

.btn-green:hover {
    background: rgb(79, 143, 56);
    color: white;
}

.btn-red {
  background: rgb(196, 124, 124);
    color: white;
}

.btn-red:hover {
    background: rgb(165, 60, 60);
    color: white;
}


.btn-theme
{
    background: rgb(236, 236, 236);
    color: black;
}

.mini {
    width: 10px;
    height: 10px;
}
