button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
}

.btn-answer {
  width: 150px;
}

.btn-blue{
  background: rgb(133, 171, 210);
    color: black;
}

.btn-violet{
  background: rgb(178, 167, 227);
    color: black;
}
.btn-green {
  background: rgb(154, 199, 137);
    color: black;
}
.btn-red {
  background: rgb(203, 135, 135);
    color: black;
}

.btn-theme
{
    background: rgb(236, 236, 236);
    color: black;
}

.mini {
    width: 10px;
    height: 10px;
}
