{% extends 'base.html' %}
{% block main_content %}


<div class="container py-4 py-xl-5">
    <form action="" method="post">
        <h1 class="text-center">{{title}}</h1>
        {{ form.hidden_tag() }}

        <div class="form-group mb-2">
            {{ form.type.label }}<br>
            {{ form.type(class="form-control") }}<br>
            {% for error in form.type.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

<!--        <div class="form-group mb-2">-->
<!--            {{ form.source.label }}<br>-->
<!--            {{ form.source(class="form-control") }}<br>-->
<!--            {% for error in form.source.errors %}-->
<!--            <div class="alert alert-danger" role="alert">-->
<!--                {{ error }}-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--        </div>-->

        <div class="form-group mb-2">
            {{ form.task.label }}<br>
            {{ form.task(class="form-control") }}<br>
            {% for error in form.task.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="form-group mb-2">
            {{ form.ans.label }}<br>
            {{ form.ans(class="form-control") }}<br>
            {% for error in form.ans.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="form-group mb-2">
            {{ form.level.label }}<br>
            {{ form.level(class="form-control") }}<br>
            {% for error in form.level.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="d-grid gap-4 col-7 mx-auto">
            {{ form.submit(type="submit", class="btn btn-violet btn-lg") }}
        </div>

    </form>
</div>
{% endblock %}