{% extends 'base.html' %}
{% block main_content %}

<script>
    let fileCount = 1;
    function addFileInput() {
        if (fileCount < 5) {
            const fileInputs = document.getElementById('file-inputs');
            const newInput = document.createElement('input');
            newInput.type = 'file';
            newInput.name = 'file';
            fileInputs.appendChild(newInput);
            fileCount++;
        }
        else {
            alert('Максимальное количество файлов - 5');
        }
    }
</script>


<div class="container py-4 py-xl-5">

    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        <div class="form-group mb-2">
            {{ form.title.label }}<br>
            {{ form.title(class="form-control") }}<br>
            {% for error in form.title.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>
        <div class="form-group mb-2">
            {{ form.text.label }}<br>
            {{ form.text(class="form-control", rows="8") }}<br>
            {% for error in form.text.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <div class="form-group mb-2">
            {{ form.tag.label }}<br>
            {{ form.tag(class="form-control") }}<br>
            {% for error in form.tag.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        <!--        <div class="form-group mb-2">-->
        <!--            {{ form.my_courses.label }}<br>-->
        <!--            {{ form.my_courses(class="form-control") }}<br>-->
        <!--            {% for error in form.my_courses.errors %}-->
        <!--            <div class="alert alert-danger" role="alert">-->
        <!--                {{ error }}-->
        <!--            </div>-->
        <!--            {% endfor %}-->
        <!--        </div>-->
        <div class="form-group mb-3">
            {{ form.my_courses.label }}<br>
            {% for subfield in form.my_courses %}
            <tr class="row">
                <td scope="col">{{ subfield }}</td>
                <td scope="col">{{ subfield.label }}</td>
            </tr>
            {% endfor %}
            {% for error in form.my_courses.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
        </div>

        {{ form.files() }}

        <div class="d-grid gap-4 col-7 mx-auto">
            {{ form.submit(type="submit", class="btn btn-violet btn-lg") }}
        </div>

    </form>


</div>

{% endblock %}