{% extends 'base.html' %}
{% block main_content %}
<div class="p-5 mt-5 " style="margin: 5%;">

     <h3>{{ course['title'] }}</h3>
    <div>Предмет: {{ i['subject'] }}</div>
    <div>Токен: {{ course['token'] }}</div>

    <br>
    <p>{{ course['description'] }}</p>

    <div>Автор:  {{ course['author'] }}</div>
    <div>Создан {{ course['made_on_datetime'] }}</div>
    <br>





    <div class="col-md-6 col-lg-4 cen">
        <a href="/all_courses" class="btn btn-violet cen">Вернутся ко всем курсам</a>
    </div>

</div>

{% endblock %}