
<div class="container py-4 py-xl-5">
    <h1>Емае, я ещё не придумла, что тут будет</h1>
</div>
 <style>
    .carousel {
        display: flex;
        flex-wrap: wrap; /* Позволяет элементам переноситься на следующую строку */
        justify-content: center; /* Центрируем блоки */
        gap: 20px; /* Отступы между блоками */
        padding: 20px;
    }

    .tablo-car {
        border: 2px solid #fcfafe;
        border-radius: 1rem;
        min-height: 100px; /* Минимальная высота блока */
        padding: 25px;
        background-color: #a483c4;
        box-sizing: border-box; /* Учитываем отступы и границы в ширине */
    }


</style>
<style>


    .carousel-control-prev,
    .carousel-control-next {
        filter: invert(1); /* Инвертируем цвета для стрелочек */
    }


</style>

<div class="d-block d-lg-none">
    <div class="container">
        <div id="creators_carousel_1" class="carousel slide mb-6" data-bs-ride="carousel">

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#creators_carousel_1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#creators_carousel_1" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#creators_carousel_1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#creators_carousel_1" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#creators_carousel_1" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#creators_carousel_1" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>


        <div class="col-10 cen">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container tablo-car">
                    <h1>111111111</h1>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container tablo-car">
                    <h1>2222222</h1>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container tablo-car">
                    <h1>33333333</h1>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container tablo-car">
                    <h1>4444444</h1>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container tablo-car">
                    <h1>555555555</h1>
                </div>
            </div>

            <div class="carousel-item">
                <div class="container tablo-car">
                    <h1>6666666666</h1>
                </div>
            </div>

        </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#creators_carousel_1" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next"  type="button" data-bs-target="#creators_carousel_1" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>



        </div>
    </div>
</div>





<div class="d-none d-lg-block">
    <div class="row">
        <div id="creators_carousel_2" class="carousel slide mb-6" data-bs-ride="carousel">

            <br>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#creators_carousel_2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#creators_carousel_2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#creators_carousel_2" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>


            <div class="col-10 cen">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="container col-5 tablo-car">

        <div class="row">

            <div class="col">
                <img class="rounded square" src="static/media/Fedorov.jpg">
            </div>

            <div class="col d-flex flex-column justify-content-center p-0">
                <h5>Фёдоров Кирилл Евгеньевич</h5>
                <p>преподаватель</p>
            </div>

        </div>
                            </div>


                            <div class="container col-5 tablo-car">
                                <h1>2222222</h1>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="container col-5 tablo-car">
                                <h1>33333333</h1>
                            </div>

                            <div class="container col-5 tablo-car">
                                <h1>4444444</h1>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="container col-5 tablo-car">
                                <h1>555555555</h1>
                            </div>

                            <div class="container col-5 tablo-car">
                                <h1>6666666666</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <button class="carousel-control-prev" type="button" data-bs-target="#creators_carousel_2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next"  type="button" data-bs-target="#creators_carousel_2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
</div>

<br>
<br>
<br>


        <div class="row">
            <div class="col">
                <img class="rounded w-10 h-10 fit-cover" style="height: 50px;" src="static/media/Fedorov.jpg">

            </div>

            <div class="col d-flex flex-column justify-content-center p-4">
                <div class="text-center text-md-start d-flex flex-column align-items-center align-items-md-start mb-5">
                    <div>
                        <h4>Фёдоров Кирилл Евгеньевич</h4>
                        <p>преподаватель</p>

                    </div>
                </div>

            </div>
        </div>