{% extends 'base.html' %}
{% block main_content %}
<div class="p-5 mt-5 " style="margin: 5%;">
    <h1>Мои курсы</h1>

    <h3>Препадаю</h3>

    <h3>Учучь</h3>

    {% for i in publications %}
        <div class="tablo">
            <h4></h4>
                        {% if course1['type'] == 'video' %}
                            <div class="video-container mb-3">
                                     <iframe src="{{course1['link']}}"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                        {% elif  course1['type'] == 'presentation' %}
                            <a></a>
                        {% endif %}
        </div>
    {% endfor %}


    <div class="col-md-6 col-lg-4 cen">
        <a href="/all_courses" class="btn btn-violet cen">Вернутся ко всем курсам</a>
    </div>

</div>

{% endblock %}