{% extends 'base.html' %}
{% block main_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
<style>
    .link-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    #copyNotification {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: rgb(125, 171, 108);
        color: white;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgb(111, 98, 122);
    }
</style>
<div class="container py-4" style="width: 70%">
    <h1 class="mb-4 text-center">Список вариантов</h1>

    {% if flag %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        Вариант отправлен группам
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
    </div>
    {% endif %}


    <div class="list-group d-none d-xl-block">
        {% for variant in variants %}
        <div class="list-group-item d-flex justify-content-between align-items-center" style="padding: 15px;">
            <h5 class="card-title">{{ variant.title }}</h5>

            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-violet text-decoration-none d-flex align-items-center gap-1"
                        type="button" data-bs-toggle="modal" data-bs-target="#variantToGroupModal{{variant.uuid}}">
                    Назначить вариант
                </button>


                <a href="{{ variant.url }}"
                   class="btn btn-violet text-decoration-none d-flex align-items-center gap-1"
                   target="_blank">
                    Перейти к варианту
                    <i class="bi bi-arrow-right"></i>
                </a>

                <button class="btn btn-outline-secondary btn-sm"
                        type="button"
                        onclick="copyLink('{{ variant.url }}')"
                        title="Копировать ссылку">
                    <i class="bi bi-clipboard"></i>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="list-group d-xl-none">
        {% for variant in variants %}
        <div class="list-group-item d-flex flex-column align-items-center" style="padding: 15px;">
            <h5 class="card-title text-center w-100">{{ variant.title }}</h5>

            <div class="d-flex justify-content-center gap-2 mt-2">
                <button class="btn btn-violet text-decoration-none d-flex align-items-center gap-1"
                        type="button" data-bs-toggle="modal" data-bs-target="#variantToGroupModal{{variant.uuid}}">
                    Назначить вариант
                </button>

                <a href="{{ variant.url }}"
                   class="btn btn-violet text-decoration-none d-flex align-items-center gap-1"
                   target="_blank">
                    Перейти к варианту
                    <i class="bi bi-arrow-right"></i>
                </a>

                <button class="btn btn-outline-secondary btn-sm"
                        type="button"
                        onclick="copyLink('{{ variant.url }}')"
                        title="Копировать ссылку">
                    <i class="bi bi-clipboard"></i>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div id="copyNotification">
    <i class="bi bi-check-circle"></i> Ссылка скопирована!
</div>
{% for variant in variants %}
<form method="post" action="/my_variants">
    <div class="modal fade" id="variantToGroupModal{{variant.uuid}}" tabindex="-1" aria-labelledby="variantToGroupModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="variantToGroupModalLabel">Введите данные</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-4">
                        <label class="form-label">Выберите группы:</label>
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary dropdown-toggle w-100"
                                    type="button"
                                    id="groupDropdown"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Выберите группы
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="groupDropdown">
                                {% for val in groups %}
                                <li>
                                    <div class="form-check ms-3">
                                        <input class="form-check-input" type="checkbox" id="group_{{val.uuid}}"
                                               value="{{val.uuid}}" name="group_{{val.uuid}}">
                                        <label class="form-check-label" for="group_{{val.uuid}}">{{val.title}}</label>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Критерии оценки (в процентах до 100):</label>
                        <div class="row">
                            {% for val in criteria %}
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">На {{val}}</span>
                                    <input type="number" class="form-control" id="criteria{{val}}" min="0"
                                           max="100" name="criteria_{{val}}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="startDate" class="form-label">Дата начала</label>
                        <input type="date" class="form-control" id="startDate" name="start_date">
                    </div>

                    <div class="mb-3">
                        <label for="endDate" class="form-label">Дата конца</label>
                        <input type="date" class="form-control" id="endDate" name="end_date">
                    </div>

                    <div class="mb-3">
                        <label for="duration" class="form-label">Продолжительность (минуты)</label>
                        <input type="number" class="form-control" id="duration" name="duration" min="0">
                    </div>
                    <div class="mb-3">

                        <label class="form-label">Выберите вариант обратной связи:</label><br>
                        {% for key, val in feedback.items() %}
                        <div class="form-check form-check-inline">
                            <input class="custom-radio" type="radio" name="option" id="option{{key}}"
                                   value="{{key}}" {% if loop.index0 == 0 %} checked {% endif %}>
                            <label class="custom-radio-label" for="option{{key}}">{{val}}</label>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-red" data-bs-dismiss="modal">Закрыть
                        </button>
                        <button type="submit" class="btn btn-green" name="test_uuid" value="{{variant.uuid}}">Перейти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endfor %}

<!-- Скрипт для копирования ссылки -->
<script>
    function copyLink(url) {
        navigator.clipboard.writeText(url)
            .then(() => {
                const notification = document.getElementById('copyNotification');
                notification.style.display = 'block';
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 2000); // Скрываем уведомление через 2 секунды
            })
            .catch(err => {
                console.error('Ошибка копирования:', err);
                alert('Не удалось скопировать ссылку. Скопируйте её вручную.');
            });
    }
</script>
{% endblock %}яя