{% extends 'base.html' %}
{% block main_content %}


<div class="p-5 mt-5 " style="margin: 5%;">
    <div class="tablo highlight">
     <h3>{{ course['title'] }}</h3>
    <div>Предмет: {{ course['subject'] }}</div>
    <br>
    {{ course['description']|safe }}
    <div class="small-br"></div>
    <div>Автор:  {{ course['author'] }}</div>
    <div>Создан {{ course['made_on_datetime'] }}</div>
    <div class="small-br"></div>
    <div>{{ course['iframe']|safe }}</div>
    </div>

    {% for i in lessons %}
        <div class="tablo">
            <h5>{{ i['title'] }}</h5>
            <hr>
            {{ i['description']|safe }}
            <div>Теги: {{ i['tag'] }}</div>
            <div>Создано {{ i['made_on_datetime'] }}</div>
            <br>
            <div><a href="/page_course/{{ course['uuid'] }}/page_lesson/{{ i['uuid'] }}">Перейти к уроку</a></div>
        </div>
    {% endfor %}

    <br>

    <div class="col-md-6 col-lg-4 cen">
        <a href="/all_courses" class="btn btn-violet cen">Вернуться ко всем курсам</a>
    </div>
</div>

{% endblock %}