{% extends 'base.html' %}
{% block main_content %}


<div class="p-5 mt-5 " style="margin: 5%;">

    <h3>{{ lesson['title'] }}</h3>
    <div>{{ lesson['description'] }}</div>

    <div>
        {{ lesson['text']|safe }}
    </div>

    {% if lesson['files_folder_path']|length != 0 %}
        <h6>Материалы:</h6>
    {% endif %}
    {% for j in lesson['files_folder_path'] %}
        {% if j[1] == 'video' %}
            <video controls style="object-fit: contain; max-width: 60%;  max-height: 300px; margin-bottom: 10px;">
                {% set tmp_type_video = j[0].split('.')|last %}
                <source src="{{j[0]}}" type="video/{{ tmp_type_video }}">
            </video>
            <br>
            <a href="{{j[0]}}" class="btn btn-violet" style="width: 160px;margin-bottom: 20px;">
                Открыть видео
            </a>
        {% elif j[1] == 'img' %}
            <img src="{{j[0]}}" class="bi me-2" style="object-fit: contain; max-width: 60%;  max-height: 300px; margin-bottom: 10px;">
            <br>
            <a href="{{j[0]}}" class="btn btn-violet" style="width: 160px; margin-bottom: 20px;">
                Открыть фото
            </a>
        {% else %}
            <a href="{{j[0]}}" class="btn btn-violet" style="width: 160px; margin-bottom: 20px;">
                Скачать материал
            </a>
        {% endif %}
        <br>
    {% endfor %}

    <div>Автор:  {{ lesson['author'] }}</div>
    <div>Создан {{ lesson['made_on_datetime'] }}</div>
    <br>


    <div class="col-md-6 col-lg-4 cen">
        <a href="/page_course/{{ lesson['course_uuid'] }}" class="btn btn-violet cen">Вернуться к курсу</a>
    </div>

</div>

{% endblock %}