{% extends 'base.html' %}
{% block main_content %}


<div class="container cen">
    <div class="row">
        <div class="col">
            <div class="filter-container tablo mt-5" style="position: sticky; top: 7rem; overflow-y: auto;">
                <label for="typeFilter">Фильтр по типу:</label>
                <select id="typeFilter" onchange="filterTasks()">
                    <option value="">Все</option>
                    {% for type in range(1, 19) %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                    <option value="19-21">19-21</option>
                    {% for type in range(22, 28) %}
                    <option value="{{ type }}">{{ type }}</option>
                    {% endfor %}
                </select>

                <br>
                <br>

                <label>Фильтр по сложности:</label>
                <br>
                <div>
                    <label><input type="checkbox" value="Очевидная" onchange="filterTasks(this)" class="custom-checkbox form-check-input" style="margin-right: 5px;">Очевидная</label><br>
                    <label><input type="checkbox" value="Очень легкая" onchange="filterTasks(this)" class="custom-checkbox form-check-input" style="margin-right: 5px;">Очень легкая</label><br>
                    <label><input type="checkbox" value="Легкая" onchange="filterTasks(this)" class="custom-checkbox form-check-input" style="margin-right: 5px;">Легкая</label><br>
                    <label><input type="checkbox" value="Средняя" onchange="filterTasks(this)" class="custom-checkbox form-check-input" style="margin-right: 5px;">Средняя</label><br>
                    <label><input type="checkbox" value="Тяжелая" onchange="filterTasks(this)" class="custom-checkbox form-check-input" style="margin-right: 5px;">Тяжелая</label><br>
                    <label><input type="checkbox" value="Очень тяжелая" onchange="filterTasks(this)" class="custom-checkbox form-check-input" style="margin-right: 5px;">Очень тяжелая</label><br>
                    <label><input type="checkbox" value="Гроб" onchange="filterTasks(this)" class="custom-checkbox form-check-input" style="margin-right: 5px;">Гроб</label><br>
                    <label><input type="checkbox" value="Все" onchange="filterTasks(this)" class="custom-checkbox form-check-input" style="margin-right: 5px;">Все</label>
                </div>
            </div>
        </div>

        <div class="col-md-9">

                {% for i in tasks %}
                <div class="smooth-animation">
                    <main class="container mt-5 p-5 tablo task-item " data-difficulty="{{i['level']}}"
                          data-type="{{i['num_type']}}">
                        <h4> Тип {{ i["text_type"] }} </h4>
                        <h6>ID {{i["uuid"]}}</h6>

                        <div class="small-br"></div>
                        <p><b><i>
                            {% if i['source'] != None %}
                                Источник: {{ i['source'] }}<br>
                            {% endif %}
                            Сложность: {{ i['level'] }}
                        </i></b></p>

                        <p class="text-task">{{ i['text']|safe }} </p>

                        <div style="display: flex; align-items: center;">
                            <button class="button btn-answer btn-violet" id="toggleButton-{{i['uuid']}}"
                                    onclick="toggleAnswer('{{i['uuid']}}')">Показать ответ
                            </button>
                            <div class="answer" id="answer-{{i['uuid']}}" style="display: none; margin-left: 10px;">
                                <div class="custom-box">
                                    {{ i['ans'] }}
                                </div>
                            </div>
                        </div>

                        {% if i['files_folder_path']|length != 0 %}
                            <br>
                            <div>Файлы:</div>
                        {% endif %}
                        {% for j in range(i['files_folder_path'] | length ) %}
                            {% if i['files_folder_path'][j][1] == 'video' %}
                                <video controls
                                       style="object-fit: contain; max-width: 60%;  max-height: 300px; margin-bottom: 10px;">
                                    {% set tmp_type_video = i['files_folder_path'][j][0].split('.')|last %}
                                    <source src="{{i['files_folder_path'][j][0]}}" type="video/{{ tmp_type_video }}">
                                </video>
                                <br>
                                <a href="{{i['files_folder_path'][j][0]}}" class="btn btn-violet" style="width: 160px;margin-bottom: 20px;">
                                    Открыть видео
                                </a>
                            {% elif i['files_folder_path'][j][1] == 'img' %}
                                <img src="{{i['files_folder_path'][j][0]}}" class="bi me-2"
                                     style="object-fit: contain; max-width: 60%; max-height: 300px; margin-bottom: 10px;">
                                <br>
                                <a href="{{i['files_folder_path'][j][0]}}" class="btn btn-violet" style="width: 160px; margin-bottom: 20px;">
                                    Открыть фото
                                </a>
                            {% else %}
                                <a href="{{i['files_folder_path'][j][0]}}" class="btn btn-violet" style="width: 160px; margin-bottom: 20px;">
                                    Скачать файл {{j+1}}
                                </a>

                            {% endif %}
                            <br>
                        {% endfor %}
                    </main>
                </div>
                {% endfor %}
        </div>
    </div>
    <br>
    <br>

</div>

<script>
        function toggleAnswer(id) {
            const answer = document.getElementById(`answer-${id}`);
            const toggleButton = document.getElementById(`toggleButton-${id}`);

            if (answer.style.display === 'none' || answer.style.display === '') {
                answer.style.display = 'block';
                toggleButton.textContent = 'Скрыть ответ';
            } else {
                answer.style.display = 'none';
                toggleButton.textContent = 'Показать ответ';
            }
        }

        function filterTasks(checkbox) {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const typeFilter = document.getElementById('typeFilter').value;

            if (checkbox && checkbox.value === "Все") {
                checkboxes.forEach(cb => {
                    if (cb !== checkbox) {
                        cb.checked = false;
                    }
                });
            } else if (checkbox) {
                const allCheckbox = document.querySelector('input[value="Все"]');
                allCheckbox.checked = false;
            }

            const selectedLevels = Array.from(checkboxes)
                .filter(cb => cb.checked && cb.value !== "Все")
                .map(cb => cb.value);

            const tasks = document.querySelectorAll('.task-item');

            tasks.forEach(task => {
                const taskLevel = task.getAttribute('data-difficulty');
                const taskType = task.getAttribute('data-type');

                const levelMatch = selectedLevels.length === 0 || selectedLevels.includes(taskLevel);
                let typeMatch = !typeFilter || taskType == typeFilter;

                // Check if typeFilter is "19-21"
                if (typeFilter === "19-21") {
                    typeMatch = (taskType >= 19 && taskType <= 21 );
                }

                if ((checkbox && checkbox.value === "Все") || levelMatch) {
                    task.style.display = typeMatch ? 'block' : 'none';
                } else {
                    task.style.display = 'none';
                }
            });
        }
    </script>


{% endblock %}
