{% extends 'base.html' %}
{% block main_content %}

    <div class="container py-4 py-xl-5">
        <h5 class="text-center text_title_violet">Создать работу</h5>
        <form method="POST" action="/work">
            {% for kim_id, val in data.items() %}
            <div class="row mb-3 align-items-center">
                <div class="col-md-12 col-lg-6">
                    <div>{{ val[0] }}</div>
                </div>

                <div class="col-md-4 col-lg-2">
                    <div class="input-group">
                        <button type="button" class="btn btn-danger minus-btn" onclick="decrement({{ kim_id }})">-</button>
                        <input type="number"
                               class="form-control text-center"
                               name="number_{{ val[1] }}"
                               id="input_{{ kim_id }}"
                               value="0"
                               min="0"
                               required>
                        <button type="button" class="btn btn-success plus-btn" onclick="increment({{ kim_id }})">+</button>
                    </div>
                </div>

                <div class="col" style="flex-grow: 1">
                    <div>{{val[0] }}</div>
                </div>

            </div>
            {% endfor %}

            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn btn-violet btn-lg">Создать персональный вариант</button>
            </div>
        </form>
        <script>
        function decrement(index) {
            const input = document.getElementById(`input_${index}`);
            let value = parseInt(input.value) || 0;
            if (value > 0) {
                value--;
                input.value = value;
            }
        }

        function increment(index) {
            const input = document.getElementById(`input_${index}`);
            let value = parseInt(input.value) || 0;
            value++;
            input.value = value;
        }
    </script>
    </div>



{% endblock %}
