{% extends 'base.html' %}
{% block main_content %}

    <div class="container py-4 py-xl-5">
        <h5 class="text-center text_title_violet">Создать работу</h5>
        <form action="" method="POST">

            <div class="col-12">
                    <div id="items"></div>

            </div>


            <div class="checkbox-group">
                <h2>Выберите категории:</h2>
                <label><input type="checkbox" name="categories" value="Для овощей"> Для овощей</label><br>
                <label><input type="checkbox" name="categories" value="Очень легкая"> Очень легкая</label><br>
                <label><input type="checkbox" name="categories" value="Легкая"> Легкая</label><br>
                <label><input type="checkbox" name="categories" value="Средняя"> Средняя</label><br>
                <label><input type="checkbox" name="categories" value="Тяжелая"> Тяжелая</label><br>
                <label><input type="checkbox" name="categories" value="Очень тяжелая"> Очень тяжелая</label><br>
                <label><input type="checkbox" name="categories" value="Гроб"> Гроб</label><br>
            </div>
            <button type="submit" class="btn-violet">Отправить</button>
        </form>

    <script>
        const itemsContainer = document.getElementById('items');
        const kimtypes = {{ kimtypes|safe }};

        for (let i = 1; i < 28; i++) {
            if (i == 20 || i == 21) {
                continue
            }

            const itemDiv = document.createElement('div');
            itemDiv.className = 'item';
            itemDiv.innerHTML = `
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div>${i <= 19 ? kimtypes[i - 1] : kimtypes[i-3]}</div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="input-group">
                                <button type="button" class="btn btn-danger minus-btn" onclick="changeValue(${i}, -1)">-</button>
                                <input type="number"
                                       class="form-control text-center"
                                       name="values[]"
                                       id="value-${i}}"
                                       value="0"
                                       min="0"
                                       oninput="validateInput(${i})"
                                       required>
                                <button type="button" class="btn btn-success plus-btn" onclick="changeValue(${i}, 1)">+</button>
                            </div>
                        </div>
                    </div>
                <br>
            `;
            itemsContainer.appendChild(itemDiv);
        }


        function changeValue(index, delta) {
            const input = document.getElementById(`value-${index}`);
            let currentValue = parseInt(input.value) || 0;
            currentValue += delta;
            input.value = currentValue < 0 ? 0 : currentValue;
        }

        function validateInput(index) {
            const input = document.getElementById(`value-${index}`);
            let currentValue = parseInt(input.value) || 0;
            if (currentValue < 0) {
                input.value = 0;
            }
        }
    </script>




    </div>



{% endblock %}
