{% extends 'base.html' %}
{% block main_content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<style>
    th, td {
    border: 1px solid #e5e5e5; /* Граница ячеек */
    padding: 8px; /* Отступы внутри ячеек */
    width: 16%;
    text-align: center; /* Центрируем текст */
    background: #ffffff;
}

th {
    background-color: #ffffff; /* Цвет фона заголовков */
    font-weight: bold; /* Жирный шрифт для заголовков */
}

tr:hover {
    background-color: #f5f5f5; /* Цвет фона при наведении на строку */
}

.red-td {
background: #ffd3db;
color: #000000;
}
.orange-td {
background: #ffe1d1;
color: black;
}
.yellow-td {
background: #ffe9c6;
color: black;
}
.green-td {
    background: #d6ffcc;
    color: #000000;
}


</style>
<div class="container ">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th>Тип задания</th>
                    <th>Правильно решенные</th>
                    <th>Всего решенных</th>
                    <th>Процент выполнения</th>
                    <th>Последние 10 правильно решенные</th>
                    <th>Процент выполнения последних 10</th>
                </tr>
            </thead>
            <tbody>
                {% for i in arr.keys() %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ arr[i]['correct'] }}</td>
                    <td>{{ arr[i]['all'] }}</td>
                    {% if arr[i]['pr'] <= 25 %}
                        <td class="red-td">{{ arr[i]['pr'] | round(2) }}%</td>
                    {% elif arr[i]['pr'] <= 50 %}
                        <td class="orange-td">{{ arr[i]['pr'] | round(2) }}%</td>
                    {% elif arr[i]['pr'] <= 75 %}
                        <td class="yellow-td">{{ arr[i]['pr'] | round(2) }}%</td>
                    {% else %}
                        <td class="green-td">{{ arr[i]['pr'] | round(2) }}%</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>





    <br>


    <div class="tablo">
        <h5 class="text-center">Статистика всех отрешанных работ учеником</h5>
        <canvas id="myChart" width="200"></canvas>
    </div>

    <script>

        const values = {{ values | tojson }};

        const labels = values.map((_, index) => index + 1);

        const data = {
            labels: labels,
            datasets: [{
                label: 'Баллы',
                data: values,
                fill: false,
                borderColor: 'rgba(79,180,180,1)',
                backgroundColor: 'rgba(79,180,180,1)',
                tension: 0.1
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        max: 100,
                        title: {
                            display: true,
                            text: 'Баллы'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Номер работы'
                        }
                    }
                },
                plugins: {
                    tooltip: {
                        callbacks: {
                            displayColors: false,
                            label: function (tooltipItem) {
                                return `Баллы: ${tooltipItem.raw}`;
                            }
                        }
                    }
                }
            }

        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
</div>

{% endblock %}