{% extends 'base.html' %}
{% block main_content %}
<style>
    th, td {
    border: 1px solid #e5e5e5; /* Граница ячеек */
    padding: 8px; /* Отступы внутри ячеек */
    width: 25%;
    text-align: center; /* Центрируем текст */
    background: #ffffff;
}

th {
    background-color: #ffffff; /* Цвет фона заголовков */
    font-weight: bold; /* Жирный шрифт для заголовков */
}

tr:hover {
    background-color: #f5f5f5; /* Цвет фона при наведении на строку */
}

.red-td {
background: #ffd3db;
color: #000000;
}
.orange-td {
background: #ffe1d1;
color: black;
}
.yellow-td {
background: #ffe9c6;
color: black;
}
.green-td {
    background: #d6ffcc;
    color: #000000;
}


</style>
<div class="container ">

    <div class="center">
        <table class="table" >
            <thead>
                <tr>
                    <th>Тип задания</th>
                    <th>Правильно решенных</th>
                    <th>Всего решенных</th>
                    <th>Процент</th>
                </tr>
            </thead>
            <tbody>
                {% for i in d %}
                <tr>
                    <td>{{ i }}</td>
                    <td>{{ arr[i]['correct'] }}</td>
                    <td>{{ arr[i]['all'] }}</td>
                    {% if arr[i]['pr'] <= 25 %}
                        <td class="red-td">{{ arr[i]['pr'] | round(2) }}%</td>
                    {% elif arr[i]['pr'] <= 50 %}
                        <td class="orange-td">{{ arr[i]['pr'] | round(2) }}%</td>
                    {% elif arr[i]['pr'] <= 75 %}
                        <td class="yellow-td">{{ arr[i]['pr'] | round(2) }}%</td>
                    {% else %}
                        <td class="green-td">{{ arr[i]['pr'] | round(2) }}%</td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>








    <br>
<img class="cen" src="{{ url_for('static', filename='media/chart.jpg') }}" width="80%">

</div>

{% endblock %}