{% extends 'base.html' %}
{% block main_content %}

<div class="container">
<form action="" method="post">
    {% for key, val in tasks.items() %}
        {% for el in val %}
        <main class="container mt-5 p-5 tablo">
            <h4>
                Задание {{key}}
            </h4>

            <div class="small-br"></div>

            <b><i>Сложность: {{el["difficulty"]}}</i></b>
            <div class="small-br"></div>
            <p>Источник: {{el["source"]}}</p>

            <p>{{el['text']}}</p>


            {% if is_check %}
                {% if users_answers[el['uuid']] == el['answer'] %}
                    <div class="correct-ans">{{users_answers[el['uuid']]}}</div>
                {% elif users_answers[el['uuid']] == '' %}
                    <div class="not-exist">Пропущенное</div>
                {% else %}
                    <div class="incorrect-ans">{{users_answers[el['uuid']]}}</div>

                    <div>{{el['ans']}}</div>
                {% endif %}
            {% else %}
                 <div class="form-group">
                    <label for="answer_{{el['uuid']}}">Ответ:</label>
                    <input type="text" name="user_answer_{{el['uuid']}}" id="answer_{{el['uuid']}}">
                </div>
             {% endif %}


        </main>

        {% endfor %}
    {% endfor %}

    <br>

    {% if is_check %}
    <p>Набрано баллов {{mark}}/{{max_mark}}</p>
    {% endif %}

    <div class="d-grid gap-4 col-7 mx-auto">
        {{ form.submit(type="submit", class="btn btn-violet btn-lg") }}
    </div>
</form>
</div>
{% endblock %}